<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">


    <form class="position-relative me-3" action="">
      <a class="navbar-brand " href="/"><i class="fas fa-fire-alt" style="color: #e85d04;"></i> YelpCamp</a>
      <% if(currentUser){ %>
        <span class="position-absolute top-0 start-100 translate-middle badge    rounded-pill bg-dark">
          <%=currentUser.username%>
            <!-- <span class="visually-hidden">unread messages</span> -->
        </span>
        <% } %>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>





    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link   ms-3" href="/campgrounds">Camps</a>
        <a class="nav-link " href="/campgrounds/new">New Camp </a>
        
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-light" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/campgrounds/categories/hill station">hill station</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Adventure">Adventure</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Survivalist">Survivalist</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Historical place">Historical place</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Holiday Camping">Holiday Camping</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Tent Camping">Tent Camping</a></li>
                <li><a class="dropdown-item" href="/campgrounds/categories/Jungle Safari">Jungle Safari</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex me-3" action="/campgrounds/search"method="post">
          <input class="form-control me-2  px-5 text-center" type="search" name="search" placeholder="Enter camp name" aria-label="Search" required>
          <button class="btn btn-outline-warning" type="submit">  search</button>
          
        </form>
        <% if(!currentUser){ %>
          <a class="nav-link " href="/register">Sign up</a>
          <a class="nav-link " href="/login">Login</a>
          <% } else {%>
            <a class="nav-link  position-relative" href="/logout"> Logout </a>

            <% } %>
      </div>
    </div>

  </div>
</nav>