<% layout('layouts/boilerplate') %>

    <div class="row">
        <h3 class="text-center"><b>New Campground</b></h3>
        <div class="col-8 offset-2">
            <form action="/campgrounds" novalidate class="validated-form" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="from-label" for="title"><b>Title</b></label>
                    <input class="form-control shadow-sm" type="text" id="title" name=campground[title] required>
                    <div class="valid-feedback">Looks Good</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location"><b>location</b></label>
                    <input class="form-control  shadow-sm" type="text" id="location" name=campground[location] required>
                    <div class="valid-feedback">Looks Good!</div>

                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="category"><b>category</b></label>
                    <input class="form-control  shadow-sm" type="text" id="category" name=campground[category] required>
                    <div class="valid-feedback">Looks Good!</div>

                </div> -->
                <select class="my-4 form-select shadow-sm mb-2"name="campground[category]" aria-label="Default select example">
                    <option selected><b>Select Category</b></option>
                    <option value="hill station">Hill Station</option>
                    <option value="Jungle Safari">Jungle Safari</option>
                    <option value="Tent Camping"> Tent Camping</option>
                    <option value="Holiday Camping"> Holiday Camping</option>
                    <option value="Historical place"> Historical place</option>
                    <option value="Historical placeSurvivalist"> Historical placeSurvivalist</option>
                    <option value="Adventure"> Adventure</option>
                  </select>

                
               
               
                <div class="mb-3 mt-3">
                    <label class="form-label" for="price"><b>Campground Price</b></label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control shadow-sm" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">Looks Good</div>

                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description"><b>Description</b></label>
                    <textarea class="form-control shadow-sm" type="text" id="description" name=campground[description]
                        required></textarea>
                    <div class="valid-feedback">Looks Good</div>

                </div>
                <div class="input-group mb-3">
                     
                     <input type="file" class="form-control shadow-sm" name="image" id="inputGroupFile02"multiple>
                    <label class="input-group-text" for="inputGroupFile02"><b>Browse</b></label>
                  </div>


                <div class="mb-3">
                    <button class="btn btn-success">Add campground</button>
                </div>
            </form>
            

        </div>
    </div>
     